
.icon-linux:before { content: '\e800'; } /* '' */
.icon-windows:before { content: '\e801'; } /* '' */
.icon-apple:before { content: '\e802'; } /* '' */
.icon-firefox:before { content: '\e803'; } /* '' */
.icon-chrome:before { content: '\e804'; } /* '' */
.icon-ie:before { content: '\e805'; } /* '' */
.icon-opera:before { content: '\e806'; } /* '' */
.icon-android:before { content: '\e807'; } /* '' */